body {
    .cabecalho-imagem
    {
        width: 20%;
    }
    background-color: #383D58;
    color: white;
    .cabecalho {
        background-color: #383D58;
        color: white;
        display:flex;
        justify-content: space-around;
        }
    .cabecalho-lista-item {
        display: inline-block;
        margin: 0 24px;
        padding: 24px 0;
    }
    .escola-imagem {
        width:20%;
        background-image: linear-gradient(#383D58,#00c0eb);
        color: white;
        display:flex;
        
    }
    .escola {
        background-image: linear-gradient(#383D58,#00c0eb);
        color: white;
        display: flex;
        }
    .escola-conteudo{
        width: 35%;
        display:flex;
        justify-content: center;
        align-items: center;
        }
    .escola-titulo{
        padding: 24px 0;
    }    
    }
    
    }